// 0-1199 px
// @media screen and (max-width:1199px) {}

// 0 - 767 px Mobile
@media screen and (max-width:767px) {

.advantages-section {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.advantage-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    &:not(:last-child) {
    margin-bottom: 30px;
    }
}

.advantage-items_pic_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.advantage-items_pic {
    height: 70px;
    width: 70px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-size: cover;
    // flex-grow: 1;
}

.advantage-header {
    margin-bottom: 10px;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--portcontacts-color);
    background-position: center;
    background-color: var(--iconbackground);
    border-radius: 4px;
}

.advantage-text {
    line-height: 1.71;
    color: var(--tel-color);
}

.our-services {
    display: none;
}
}

// 768 px +
@media screen and (min-width:768px) {

.advantage-items {
    width: 354px;    
    gap: 30px;
    margin-bottom: 30px;
    
    &:nth-child(2n+1) {
    margin-right: 30px;
    }
}

.advantage-items_pic {
    width: 70px;
    height: 70px;
}

.advantage-items_pic_wrapper {
    display: flex;
    padding: 25px 145px;
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.advantage-header {
    margin-bottom: 10px;
}

}


// 1200 px +
@media screen and (min-width:1200px) {

.advantages-section-margin {
    padding-bottom: 0;
}

.advantages-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 215px;
    padding-right: 215px;
    }

.advantage-items_pic_wrapper {
    width: 270px;
    height: 120px;
    padding: 25px 102px;
    background-color: #F5F4FA;
}
// .advantage-items {
//     flex-basis: calc((100% - 4*30px)/4);

//     &:not(:last-child) {
//      margin-right: 30px;
//     }
// }

.advantage-items_pic {
    @extend %align !optional;
    background-color: #F5F4FA;
    height: 70px;
    width: 70px;
    background-size: cover;
    flex-grow: 1;
    border-radius: 4px;
}
.advantage-header {
    margin-bottom: 10px;
    line-height: 1.14;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--portcontacts-color);
    background-position: center;
    background-color: var(--iconbackground);
    border-radius: 4px;
}

.advantage-text {
    line-height: 1.71;
    color: var(--tel-color);
}

}