// 0 - 767 px Mobile

.clients {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
//     padding-left: 15px;
//     padding-right: 15px;
// 
}

.section-header {
    margin-bottom: 30px;
}

.clients-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    width: 210px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    margin-bottom: 30px;
    

    &:nth-child(2n+1) {
    margin-right: 30px;
    }
  
    

    &:hover {
        fill: var(--weblogo-color);
        border: 1px solid var(--weblogo-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

// / 768 px+ // 
@media screen and (min-width:768px) {
.clients-items {
    &:nth-child(2n) {
    margin-right: 30px;
    }
}
.permanentclients {
    padding-top: 0;
}
}

// 1200 px +
@media screen and (min-width:1200px)  {
.clients {
        display: flex;
        flex-wrap: wrap;
    }

.section-clients {
    padding-left: 215px;
    padding-right: 215px;
}
.clients-items {
    width: 170px;

    &:not(:nth-child(6n)) {
         margin-right: 24px;
    }

    }
}

