// 0 - 767 px Mobile

.header {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
}

.header_container {
    display: flex;
    padding-left: 15px;
    padding-right: 22px;
    align-items: center;
    justify-content: space-between;
}

.header-navigation-list {
    display: none;
}

.navigation-list-contacts {
    display: none;
}

.mobile-menu {
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: bisque;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-menu_navigation {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    color: #212121;
    letter-spacing: 0.02em;
    margin-bottom: 32px;

    &:last-child {
    margin-bottom: 306px;
}
}

.mm_current {
    color: var(--weblogo-color);
}

.mobile-menu_contacts_tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--weblogo-color);
    margin-bottom: 32px;
}

.mobile-menu_contacts_email {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--tel-color);
    margin-bottom: 64px;
}

.mobile-menu_social-list {
    display: flex;
    justify-content: flex-start;
}

.mobile-menu_social-list_item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--weblogo-color);

    &:not(:last-child) {
        margin-right: 20px;
    }
         
    &:not(:last-child):after {
    height: 0;
    width: 22px;
    content: '';
    margin-left: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
    }
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu_container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
}

.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-btn_icon {
    fill: #212121;
}

.mobile-menu_close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding-right: 21px;
    cursor: pointer;
    
}
.mobile-menu_close-icon:hover {
    color: var(--tel-color);
    cursor: pointer;
}
 



// 768 px +
@media screen and (min-width:768px) {

.mobile-menu, .mobile-menu-container, .mobile-menu_close-btn, .mobile-menu-btn, .mobile-menu_items, .mobile-menu-btn, .data-menu-open, .data-menu-open, .mobile-menu_items {
    display: none;
}

.header {
    padding-bottom: 0;
}
.header_container {
    padding-right: 0;
}

.logo-webstudio {
    font-size: 24px;
    margin-right: 88px;

}
.header_navigation {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.current {
    color: var(--weblogo-color);

    &::after {
    display: block;
    height: 4px;
    background-color: #2196F3;
    content: '';
    border-radius: 2px;
    margin-top: 32px;
    }
}

.header-navigation-list {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    padding: 0 32px;
    gap: 50px;
}

.navigation-list-contacts {
    display: flex;
    flex-direction: column;
    color: #757575;
    fill: #757575;
}
.navigation-list-contacts-item:not(:last-child) {
    margin-bottom: 10px;
}
}





// 1200 px +
@media screen and (min-width:1200px) {

.header {
    font-weight: 500;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
}

.header_container {
    padding-left: 215px;
    padding-right: 215px;
}
.section-header {
        margin-bottom: 50px;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.16;
        text-align: center;
        color: var(--portcontacts-color);
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.14;
    }

    .header-navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-navigation-list {
        padding-top: 32px;
        display: flex;
        gap: 50px;
    }

    .navigation-list-contacts {
        display: flex;
        flex-direction: row;
        align-items: base-line;
        justify-content: flex-end;
        gap: 30px;
    }

    .navigation-list-contacts-item {
        margin-left: auto;
    }

    .navigation-contacts {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: var(--tel-color);
        letter-spacing: 0.02em;
        line-height: 1.14;

        &:focus,
        &:hover {
            color: var(--weblogo-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover .envelope,
        &:hover .smartphone {
            fill: var(--weblogo-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:focus .envelope,
        &:focus .smartphone {
            fill: var(--weblogo-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

    }

    .navigation-list-item-href {
        color: var(--portcontacts-color);

        &:focus,
        &:hover {
            color: var(--weblogo-color);
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }

    .current {
        color: var(--weblogo-color);

        &::after {
            display: block;
            height: 4px;
            background-color: #2196F3;
            content: '';
            border-radius: 2px;
            margin-top: 32px;
        }
    }

    .envelope,
    .smartphone {
        margin-right: 10px;
        fill: var(--tel-color);

    }


}

