.header {
padding-top: 16px;
padding-bottom: 16px;
position: relative;
}

.header-navigation-list {
    display: none;
}
.navigation-list-contacts {
    display: none;
}
.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: bisque;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;   
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu_container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
}

.mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-btn_icon {
    fill: #212121;
}

.mobile-menu_close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

@media screen and (min-width:768px) {
    .header-navigation-list {
        display: block;
    }
    .navigation-list-contacts {
        display: block;
    }
    .mobile-menu-btn {
        display: none;
    }
    .header_navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

}

@media screen and (min-width:1200px) {
    .header-navigation-list {
        display: block;
    }

    .navigation-list-contacts {
        display: block;
    }

    .mobile-menu-btn {
        display: none;
    }

    .header_navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

// .section-header {
//     margin-bottom: 50px;
//     font-size: 36px;
//     line-height: 1.16;
//     text-align: center;
//     color: var(--portcontacts-color);
// }

// .header_container {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     font-weight: 500;
//     letter-spacing: 0.02em;
//     line-height: 1.14;
// }



// .header-navigation-list {
//     padding-top: 32px;
//     display: flex;
//     gap: 50px;
// }

// .navigation-list-contacts {
//     display: flex;
//     align-items:center;
//     justify-content: flex-end;
//     gap: 30px;
// }

// .navigation-list-contacts-item {
//     margin-left: auto;
// }

// .navigation-contacts {
//     display: flex;
//     align-items: center;
//     font-weight: 500;
//     color: var(--tel-color);
//     letter-spacing: 0.02em;
//     line-height: 1.14;

//     &:focus,
//     &:hover {
//         color: var(--weblogo-color);
//         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &:hover .envelope,
//     &:hover .smartphone {
//         fill: var(--weblogo-color);
//         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &:focus .envelope,
//     &:focus .smartphone {
//         fill: var(--weblogo-color);
//         transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

// }

// .navigation-list-item-href {
//     color: var(--portcontacts-color);

//     &:focus,
//     &:hover {
//     color: var(--weblogo-color);
//     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }
// }

// .current {
//     color: var(--weblogo-color);

//     &::after {
//     display: block;
//     height: 4px;
//     background-color: #2196F3;
//     content: '';
//     border-radius: 2px;
//     margin-top: 32px;
//     }
// }
// .envelope, 
// .smartphone {
//     margin-right: 10px;
//     fill: var(--tel-color);

// }