.section-header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--portcontacts-color);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation-list {
    padding-top: 32px;
    display: flex;
    gap: 50px;
}

.navigation-list-contacts {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    gap: 30px;
}

.navigation-list-contacts-item {
    margin-left: auto;
}

.navigation-contacts {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--tel-color);
    letter-spacing: 0.02em;
    line-height: 1.14;

    &:focus,
    &:hover {
        color: var(--weblogo-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover .envelope,
    &:hover .smartphone {
        fill: var(--weblogo-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus .envelope,
    &:focus .smartphone {
        fill: var(--weblogo-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

}

.navigation-list-item-href {
    color: var(--portcontacts-color);

    &:focus,
    &:hover {
    color: var(--weblogo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.current {
    color: var(--weblogo-color);

    &::after {
    display: block;
    height: 4px;
    background-color: #2196F3;
    content: '';
    border-radius: 2px;
    margin-top: 32px;
    }
}
.envelope, 
.smartphone {
    margin-right: 10px;
    fill: var(--tel-color);

}