

// 0-1199 px
// @media screen and (max-width:1199px) {}

/*
1х - 96dpi
2x - 192dpi
3x - 288dpi

*/

// 0 - 767 px Mobile
// @media (min-device-pixel-ratio: 2),
// (min-resolution: 192dpi),
// (min-resolution: 2ddpi) {
//     .hero {
//         background-image: url(/images/@2xImgpic-hero.jpg);
//     }
// }

// 0 - 767 px Mobile
.hero {
    background-image:
         linear-gradient(rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)),
        url(/images/hero1-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 480px;
    padding-top: 16px;
    padding-bottom: 60px;
    text-align: center;
    background-size: cover;
    margin: 0 auto;
}
    .hero-text {
        width: 360px;
        margin: auto;
        margin-top: 118px;
        margin-bottom: 30px;
        font-size: 26px;
        font-weight: 900;
        line-height: 1.875;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--background);
        }
        
        .button-orderservice {
        min-width: 200px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        background: var(--weblogo-color);
        color: var(--background);
        padding: 10px 32px;
        border: none;
        border-radius: 4px;
        letter-spacing: 0.06em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }


// 768 px +
// @media screen and (min-width:768px) {}

// 1200 px +
@media screen and (min-width:1200px) {

.hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/Imgpic-hero.jpg);
        background-color: var(--solutionbackground-color);
        max-width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
        text-align: center;
        background-size: cover;
        margin: 0 auto;
    }

    .hero-text {
        width: 696px;
        margin: auto;
        margin-bottom: 30px;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--background);
    }

    .overlay {
        max-width: 1600px;
        height: 480px;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/Imgpic-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: var(--solutionbackground-color);
    }

    .button-orderservice {
        min-width: 200px;
        font-size: 16px;
        background: var(--weblogo-color);
        color: var(--background);
        padding: 10px 32px;
        border: none;
        border-radius: 4px;
        letter-spacing: 0.06em;
        font-weight: 700;
        line-height: 1.62;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    }
}






