.our-services {
    padding-top: 0px;
}

.our-services-pics {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
    fill: var(--weblogo-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.our-services-pic-items {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.our-services-pic-items-label {
    position: absolute;
    margin: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--background);
}