// 0 - 767 px Mobile

.section-team {
    display: flex;
    flex-direction: inline-block;
    flex-wrap: wrap;
    align-items: center;
    background: var(--sectionbackground);
}

.section-header_team {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--portcontacts-color);
}

.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.team-card {
    width: 450px;
    text-align: center;
    background-color: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 30px;
    }

.team-card_pic {
    height: 460px;
    width: 450px;
}

.teamcontent-wrapper {
    margin-top: 30px;
    margin-bottom: 24px;
    // height: 162px;
}

.manager {
    margin-bottom: 10px;
    color: var(--portcontacts-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.manager_position {
    color: var(--tel-color);
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}


// / 768 px+ // @media screen and (min-width:768px) {}

// 1200 px +
@media screen and (min-width:1200px) {
.section-team {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 215px;
    padding-right: 215px;
    background-color: #F5F4FA;
}

.section-header {
    font-size: 36px;
    font-weight: 700;
}
.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.team-card {
    width: 270px;
    height: 428px;
    margin-top: 0;
    &:not(:nth-child(4n)) {
    margin-right: 30px;
    }
}

.team-card_pic {
    height: 260px;
    width: 270px;
}

.teamcontent-wrapper {
    height: 168px;
    padding: 30px 32px;
    margin-top: 0;
    text-align: center;
    flex-basis: calc((100% - 120px)/4);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.manager {
        margin-bottom: 10px;
        color: var(--portcontacts-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.03em;
}

.manager_position {
        color: var(--tel-color);
        font-size: 16px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
}

}

