.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
}

.contact-form-title {
    font-weight: 700;
    height: 23px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.contact-form-input {
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    &:hover,
    &:focus {
        fill: var(--weblogo-color);
        outline: none;
        border-color: var(--weblogo-color);
        transition: fill 250ms linear;
    }

    &:hover+.contact-input-form-icon,
    &:focus+.contact-input-form-icon {
        fill: var(--weblogo-color);
        transition: fill 250ms linear;
    }

}

.contact-input-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    right: 15px;
    transition: fill 250ms linear;
}

.contact-form-message {
    height: 120px;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    color: #000000;

    &::placeholder {
        color: rgba(33, 33, 33, 0.2)
    }

    &:hover {
        fill: var(--weblogo-color);
        outline: none;
        border-color: var(--weblogo-color);
        transition: fill 250ms linear;
    }

    &:focus {
        fill: var(--weblogo-color);
        outline: none;
        border-color: var(--weblogo-color);
        transition: border-color 250ms linear;
    }
}

.contact-form-field-namestyle {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.contact-input-form-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
}

.contact-form-submit-btn {
    display: flex;
    align-items: center;
    text-align: center;
    background: #2196F3;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 124px;
}

.contact-form-submit-btn-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 10px 52px;
}

.contact-form-checkbox-wrapper {
    margin-top: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.contact-form-checkbox {
    width: 16px;
    height: 15px;
    border-radius: 4px;
 
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;

    &::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 15px;
    outline: 1px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    cursor: pointer;
    margin-left: 15px;
    margin-right: 7px;
    }

 .contact-form-checkbox:checked + &::before {
    background-image: url(../images/icon_tik.svg);
    background-color: #2196F3;
    outline: none;
    background-repeat: no-repeat;
    background-size: 11px 8px;
    background-position: 3px 4px;
 }

 .contact-form-checkbox:focus +  &::before {
    background-color: #2196F3;
    outline: none;
 }
}

.agreement-condition {
    text-decoration: underline;
    color: rgba(33, 150, 243, 1);
}
