// HEADER

.logo-webstudio {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 00.03em;
}

.logo-web {
    color: var(--weblogo-color)
}

.logo-studio {
    color: var(--text-color);
}

// FOOTER

.logo-studiofooter {
    color: var(--background);
}