a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background: var(--background);
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}