// 0-767px
.container {
    width: 480px;
//     margin-left: auto;
//     margin-right: auto;
// 
}


// 786px+

@media screen and (min-width: 786px) {
    .container {
    width: 768px;
    }
}

// 1200px+

@media screen and (min-width: 1200px) {
    .container {
        width: 1600px;
    }
}


