// 0-767px
.container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}


// 786px+

@media screen and (min-width: 786px) {
    .container {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    }
}

// 1200px+

@media screen and (min-width: 1200px) {
    .container {
        width: 1600px;
        padding-left: 0;
        padding-right: 0;    
    }
}


